<%- include('includes/head.ejs') %>
<link rel='stylesheet' href='/stylesheets/myMedia.css' />
</head>
<body>
<div class="container my-container">
    <%- include('includes/nav.ejs') %>
    <div>
        <div class="row">
             <div class="col-md-12 center-title">
                <span>
                    <h4>Media Detail</h4>
                </span>
            </div>
        </div>
        <div class="row">
            <% if (images.length>0) { %>
            <% images.forEach(function(image) { %>
            <div class="col-md-6 ">
                <h5><%= image.title %></h5>
                <img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>" width="300" height="250">
           </div>
           <div class="col-md-6">
            <textarea readonly rows="5"><%= image.desc %></textarea>
            <textarea readonly rows="2"><%= image.tags %></textarea>
            
           </div>
           <% }) %>
           <% } else { %>
            <h1>No Images found</h1>
           

            <% } %>
       </div>
    </div>

</div>
<%- include('includes/end.ejs') %>
